@import "~bootstrap/scss/bootstrap.scss";

$dark-tone8: #EEEEF2;
$dark-tone-80: #484964;
$ight-theme: #F9F9FC;

body {
  margin: 20px;
  background-color: $ight-theme;
  scrollbar-gutter: stable both-edges;
  color: $dark-tone-80;
}

table {
  width:100%;
  font-size: 14px;
  border-collapse: collapse !important;
  border: solid 1px $dark-tone8;
  border-radius: 16px;
  white-space: nowrap;
  table-layout: fixed;
}
tbody {
  display: block;
  max-height: 600px;
  width: 100%;
  overflow: auto;
}
thead, tr{
  display: table;
  width: 100%;
  table-layout: fixed;
  // overflow:hidden;
}
td {
  border-top-width:1px;
  border-bottom-width: 1px;
  padding: 10px 20px 10px 20px;
  text-overflow: ellipsis;
  overflow:hidden;
  width: 100px;
}
th {
  color: $dark-tone-80; 
  padding:16px 20px 16px 20px;
  width: 100px;
}
tr {
  transition: all  0.1s ease-in ;
  
  &:hover {
    background-color: rgba(100, 77, 237, 0.08);
  }
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_group {
  margin-top: 20px;

  button + button {
    margin-left:10px;
  }
}

.dropdown-item {
  padding: 4px 16px;
}

.form-check .form-check-input {
  padding-right: 4px;
  margin-left: 0px;
}
.form-check-label {
  padding-left: 16px;
}
.space-x-4 {
  display: flex;
  & > * + * {
    margin-left: 10px;
  }
}
